<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.chaohi.recommend.dao.BookPreferencesMapper">
   <!--表名 -->
	<sql id="tableName">
		book_preferences
	</sql>
	<!-- 实例与数据库映射 -->
	<resultMap id="BaseResultMap" type="bookPreferences">
	 		    <result column="user_id" property="userId" javaType="Integer" />
	 		    <result column="book_id" property="bookId" javaType="Integer" />
	 		    <result column="preference" property="preference" javaType="Integer" />
	 		    <result column="timestamp" property="timestamp" javaType="Integer" />
	</resultMap>

	<!-- 字段 -->
	<sql id="Field">
           `user_id` ,`book_id` ,`preference` ,`timestamp` 
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
         `userId` ,`bookId` ,`preference` ,`timestamp` 
	</sql>
	
	<!-- 更新字段 -->
	<sql id="updateField">
		        `user_id`=#{userId} ,
		        `book_id`=#{bookId} ,
		        `preference`=#{preference} ,
		        `timestamp`=#{timestamp} 
	</sql>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="String" resultMap="BaseResultMap">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
		`id` = #{id}
	</select>
	<!-- 通过条件获取数据 -->
	<select id="findByParam" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		<where> 
      	   <if test="userId!=null ">
		          and user_id=#{userId}
		    </if>
      	   <if test="bookId!=null ">
		          and book_id=#{bookId}
		    </if>
      	   <if test="preference!=null ">
		          and preference=#{preference}
		    </if>
      	   <if test="timestamp!=null ">
		          and timestamp=#{timestamp}
		    </if>
		</where> 
	</select>
	
<select id="findByExample" parameterType="bookPreferences" resultType="bookPreferences"> 
      select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
     <where> 
      	   <if test="userId!=null ">
		      and  user_id=#{userId} 
		    </if>
      	   <if test="bookId!=null ">
		      and  book_id=#{bookId} 
		    </if>
      	   <if test="preference!=null ">
		      and  preference=#{preference} 
		    </if>
      	   <if test="timestamp!=null ">
		      and  timestamp=#{timestamp} 
		    </if>
     </where>   
  </select>
  	
	<!--根据id值集合查询记录集-->
    <select id="findByIds"  parameterType="list"  resultMap="BaseResultMap">
         select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
         where id in 
        <foreach item="item" index="index" collection="list"
            open="(" separator="," close=")"> #{item}
        </foreach>
    </select>
	
	<!-- 查询所有数据 -->
	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
	</select>
	
	<!-- 保存 -->
	<insert id="save" parameterType="bookPreferences">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="bookPreferences">
		update
		<include refid="tableName"></include>
		set
		<include refid="updateField"></include>
		where
		`id` = #{id}
	</update>
	
	<!--批量删除BookPreferences-->
     <select id="deleteMany" parameterType="list">
	        <foreach collection="list" item="item" separator=";">
	            delete from book_preferences where id =  #{item}
	        </foreach>
	 </select>
	  
	 <!--按主键删除BookPreferences-->
	<delete id="deleteOne" parameterType="String">
		delete from book_preferences 	
		<where>
		   `id` = #{id}
		</where>
	</delete>
	</mapper> 