<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.chaohi.recommend.dao.MovieSimilarityMapper">
   <!--表名 -->
	<sql id="tableName">
		movie_similarity
	</sql>
	<!-- 实例与数据库映射 -->
	<resultMap id="BaseResultMap" type="movieSimilarity">
	 		    <result column="movieID1" property="movieid1" javaType="Integer" />
	 		    <result column="movieID2" property="movieid2" javaType="Integer" />
	 		    <result column="similarity" property="similarity" javaType="Double" />
	</resultMap>

	<!-- 字段 -->
	<sql id="Field">
           `movieID1` ,`movieID2` ,`similarity` 
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
         `movieid1` ,`movieid2` ,`similarity` 
	</sql>
	
	<!-- 更新字段 -->
	<sql id="updateField">
		        `movieID1`=#{movieid1} ,
		        `movieID2`=#{movieid2} ,
		        `similarity`=#{similarity} 
	</sql>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="String" resultMap="BaseResultMap">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
		`id` = #{id}
	</select>
	<!-- 通过条件获取数据 -->
	<select id="findByParam" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		<where> 
      	   <if test="movieid1!=null ">
		          and movieID1=#{movieid1}
		    </if>
      	   <if test="movieid2!=null ">
		          and movieID2=#{movieid2}
		    </if>
      	   <if test="similarity!=null ">
		          and similarity=#{similarity}
		    </if>
		</where> 
	</select>
	
<select id="findByExample" parameterType="movieSimilarity" resultType="movieSimilarity"> 
      select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
     <where> 
      	   <if test="movieid1!=null ">
		      and  movieID1=#{movieid1} 
		    </if>
      	   <if test="movieid2!=null ">
		      and  movieID2=#{movieid2} 
		    </if>
      	   <if test="similarity!=null ">
		      and  similarity=#{similarity} 
		    </if>
     </where>   
  </select>
  	
	<!--根据id值集合查询记录集-->
    <select id="findByIds"  parameterType="list"  resultMap="BaseResultMap">
         select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
         where id in 
        <foreach item="item" index="index" collection="list"
            open="(" separator="," close=")"> #{item}
        </foreach>
    </select>
	
	<!-- 查询所有数据 -->
	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
	</select>
	
	<!-- 保存 -->
	<insert id="save" parameterType="movieSimilarity">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="movieSimilarity">
		update
		<include refid="tableName"></include>
		set
		<include refid="updateField"></include>
		where
		`id` = #{id}
	</update>
	
	<!--批量删除MovieSimilarity-->
     <select id="deleteMany" parameterType="list">
	        <foreach collection="list" item="item" separator=";">
	            delete from movie_similarity where id =  #{item}
	        </foreach>
	 </select>
	  
	 <!--按主键删除MovieSimilarity-->
	<delete id="deleteOne" parameterType="String">
		delete from movie_similarity 	
		<where>
		   `id` = #{id}
		</where>
	</delete>
	</mapper> 